<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
    <section>
        <h1>Gecmis Teklifler</h1>
        <ul>
            <% teklif.forEach(MYK => { %>
                <li>
                    <a href="#"><%=MYK.baslik%></a>
                    <p><%=MYK.title%> / <%=MYK.short%> / <%=MYK.createdAt%></p>
                </li>
            <% }) %>        
        </ul>
    </section>
    

</body>    
</html>