<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
    <%-include('./etc/nav')%>
    <section>
        <h1>Gecmis Teklifler</h1>
        <ul>
            <% teklif.forEach(mDB => { %>
                <li>
                    <a href="/history/<%=mDB._id%>"><%=mDB.proposalId%> / <%=mDB.firmName%> / <%=mDB.proposalPrice%></a>
                </li>
            <% }) %>
        </ul>
    </section>


</body>    
</html>