<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
  <%-include('./etc/nav')%>
  <section>
    <ul>
      <p>Teklif ID: <%= details._id %></p>
      <p>Tarih: <%= details.date %></p>
      <p>Yeterlilik: <%= details.title %> <%= details.subTitle %></p>
    </ul>
      </section>
</body>
</html>
