<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
  <%-include('./etc/nav')%>
  <section>
    <ul>
      <p>Teklif ID: <%= details.proposalId %></p>
      <p>Tarih: <%= details.createdAt %></p>
      <p>Firma: <%= details.firmName %> 
      <p>Teklif Türü: <%= details.proposalId %></p>
      <% for(var i=0; i<details.proposalDetails.length; i++) {%>
      <p>Yeterlilik: <%= details.proposalDetails[i].unitMainQuantity %> adet 
        <%= details.proposalDetails[i].unitMainName %> 
        <%= details.proposalDetails[i].subUnitDetails[0].unitSubName.substring(0,2) %> ve 
        <%= details.proposalDetails[i].subUnitDetails[1].unitSubName.substring(0,2) %> %></p>
      <% } %>
    </ul>
      </section>
</body>
</html>
